@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

:root {
  font-family:
    "Inter", "Roboto", "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
}

html,
body {
  height: 100%;
}

.content-list h3 {
  @apply text-sm text-gray-500 uppercase tracking-widest;
}

.content-list a {
  @apply underline;
}

.content-list h4 {
  @apply -mb-4 font-bold;
}

@theme {
  --font-lora: "Lora", serif;
}

section.content-list ul {
  @apply list-disc list-inside space-y-2 ml-2;
}
